<div class="announcement container mx-auto mt-7 px-3 md:px-0 rounded-xl">
  <a href="https://roxaaanne.com/products/roxyfest" class="announcement-color md:w-full flex justify-center rounded-xl items-center md:py-1">
    <h1 class="weird-font font-[100] text-[33px] leading-[33px] text-center mb-1">
      roxy<span class="opacity-50">fest</span>
    </h1>
    <p class="ml-2 text-[17px] leading-[17px] text-[200] mt-1">JUNIO 21 🌞</p>
  </a>
</div>


<style>
  .announcement-color {
    background: linear-gradient(90deg, #232246 0%, #3B3382 45%, #EF6400 100%);
    color: #fff;
  }
</style>