<div class="announcement container mx-auto mt-7 px-3 md:px-0 rounded-xl">
  <a href="https://roxaaanne.com/products/roxyfest" class="announcement-color md:w-full flex justify-center rounded-xl items-center md:py-1">
    <h1 class="weird-font text-[33px] leading-[33px] text-center">
      roxy fest
    </h1>

    <p class="ml-4 text-[17px] leading-[17px] text-[200] mt-1">JUNIO 21</p>
  </a>
</div>


<style>
  .announcement-color {

    background: linear-gradient(90deg, #0F0C3B 0%, #403B88 45%, #F28B2B 100%);
    color: #fff;


  }

  .weird-font {
    font-family: "Jersey 15"
    , sans-serif !important;
    color: #fff;
  }
</style>