<div class="container mx-auto px-7 md:px-0">
  <div class="container mx-auto px-8 md:p-0 bg-black dark:bg-[#1c1c1c] border rounded-xl">
    <div class="flex items-center justify-center flex-col pt-16 pb-24 md:pt-32 md:pb-48 2xl:pt-40 2xl:pb-56 relative">
      <h1 class="josefin-sans-title text-[80px] leading-[80px] tracking-[-5.3px] md:text-[150px] lg:text-[180px] 2xl:text-[250px] 2xl:tracking-[-23px] leading-[12vw] text-[#feffee] text-center md:tracking-[-13px]">cinergia</h1>
      <span class="josefin-sans-title text-3xl mr-20 md:text-5xl md:mr-24 absolute bottom-[50px] md:bottom-[70px] text-[#feffee] dark:text-[#feffee]">por
        <b>LACRA</b>
      </span>
    </div>
  </div>

  <style>
    .josefin-sans-title {
      font-family: "Josefin Sans"
      , sans-serif !important;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    }
  </style>
</div>

{% schema %}
  {
    "name": "Cinergia Header",
    "settings": []
  }
{% endschema %}