<div>
  <div>
    <div>
      <img src="" alt="">
    </div>
    <div>
      <h1>cristian dussan</h1>
      <p>artesano de portales a otras dimensiones visuales, auditivas y binarias, hace películas caseras para todo tipo de criaturas extrañas, lo puedes encontrar al lado de la última cruz del sur, acá puedes nadar en su mente</p>
    </div>
  </div>
  <div>
    <h2>
      productos
    </h2>
    <div>
      lista de productos             

        (posibles iniciales productos)
        -ropa (averiguar con Natalia los busos, camisetas)
        - fotografias (averiguar primate fotografias)
        - chocolate (averiguar con )
        - concierto (Alejo, eventos)
    </div>
  </div>
  <div>
    <h2>
      imagenes / peliculas / artículos [blog]
    </h2>
    <div>
      lista de productos             

        (posibles iniciales productos)
        -ropa (averiguar con Natalia los busos, camisetas)
        - fotografias (averiguar primate fotografias)
        - chocolate (averiguar con )
    </div>
  </div>
</div>