<footer class="bg-black px-8 md:px-0">
  <div class="flex justify-between text-white container mx-auto py-10">
    <a href="https://wa.link/mjoqnw" target="_blank" class="text-white border px-7 py-2 flex justify-center items-center rounded-full"><img src="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/whatsapp-icon.svg?v=1747530702" alt="" class="w-8 ml-1 mr-2"> <span class="mb-[1px]">contacto</span> </a>
    <h4 class="text-white border px-7 py-2 flex justify-center items-center rounded-full">version 2.3</h4>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": []
  }
{% endschema %}