<footer class="bg-black">
  <div class="flex justify-between text-white container mx-auto py-10">
      <h4 class="text-white">hecho por cristian dussán</h4>
      <h4 class="text-white border p-4 rounded-full">version 0.3</h4>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    
    ]
}
{% endschema %}