<div class="bg-black min-h-screen bg-black flex justify-center items-center">
    <div class="flex flex-col justify-center items-center">
        <h1 class="home__title text-white text-8xl">{{ section.settings.title }}</h1>
        <div class="text-[40px] text-white">{{ section.settings.content }}</div>
    </div>
</div>

<style>
    .home__title strong {
        font-weight: 500;
    }

</style>

{% schema %}
  {
    "name": "Home",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Título"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Contenido"
      }
    ],
    "blocks": [
      {
        "type": "creator",
        "name": "Creator",
        "settings": [
          {
            "type": "image_picker",
            "id": "creator__image",
            "label": "Photo"
          }, {
            "type": "text",
            "id": "creator__name",
            "label": "Texto",
            "default": "Name"
          }, {
            "type": "url",
            "id": "creator__link",
            "label": "Link"
          }
        ]
      }

    ]
  }
{% endschema %}