<div class="bg-black min-h-[70vh] bg-black flex justify-center items-center">
  <div class="flex flex-col justify-center items-center">
    <h1 class="home__title text-white text-[130px] tracking-tight leading-tight">{{ section.settings.title }}</h1>
    <div class="text-[50px] text-white font-[100] leading-tight">{{ section.settings.content }}</div>
  </div>
</div>

<style>
  .home__title strong {
    font-weight: 400;
    line-height: 110px;
  }
  .home__title p {
    font-weight: 100;
    line-height: 40px;
  }

</style>

{% schema %}
  {
    "name": "Home",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Título"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Contenido"
      }
    ],
    "blocks": [
      {
        "type": "creator",
        "name": "Creator",
        "settings": [
          {
            "type": "image_picker",
            "id": "creator__image",
            "label": "Photo"
          }, {
            "type": "text",
            "id": "creator__name",
            "label": "Texto",
            "default": "Name"
          }, {
            "type": "url",
            "id": "creator__link",
            "label": "Link"
          }
        ]
      }

    ]
  }
{% endschema %}