<div class="container mx-auto px-8 md:p-0">
  <div class="border rounded-xl bg-[#FEFFEE]">
    <div class="flex flex-col">
      <h1 class="josefin-sans-title text-[25vw] leading-[20vw] text-black text-center mt-16 md:mt-[80px]">LACRA</h1>
      <h2 class="josefin-sans-title text-center text-black text-[4vw] md:text-[4vw] leading-[4vw] mb-3 flex justify-center items-center gap-3">
        <div class="flex gap-3 md:gap-8">
          <div class="flex">
            <span class="font-medium">LA</span>
            <span class="font-light">BORATORIO</span>
          </div>
          <div class="flex">
            <span class="font-medium">CR</span>
            <span class="font-light">EATIVO</span>
          </div>
          <div class="flex">
            <span class="font-medium">A</span>
            <span class="font-light">UDIOVISUAL</span>
          </div>
        </div>
      </h2>
    </div>
    <div class="px-8 md:px-12 lg:px-32 pb-7 md:mb-12">
      <p class="text-justify font-extralight text-black text-2xl md:text-4xl">es un colectivo de artistas residentes en Neiva, que desde diversas disciplinas del arte llevan varios años produciendo obras y espacios culturales para la circulación de música y cine en la ciudad. Dentro de su actividad creativa se pueden encontrar textos, canciones, instalaciones sonoras, pinturas, fotografías y piezas audiovisuales de diversos formatos.</p>
    </div>
  </div>
</div>

<style>
  .josefin-sans-title {
    font-family: "Josefin Sans"
    , sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
</style>