<!-- sections/new-creations.liquid -->
<div class="bg-black flex flex-col justify-center items-center px-8 md:px-0">
  <div class="w-full container mx-auto mb-8 my-4">
    {% if section.settings.title != blank %}
      <h2 class="text-4xl text-white font-medium">
        {{ section.settings.title }}
      </h2>
    {% endif %}

    <div class="grid grid-cols-2 md:grid-cols-3 mt-7 mb-10 gap-5 md:gap-4">
      {% for block in section.blocks %}
        {% if block.type == 'new_creation' %}
          {% render 'new-creation-card'
            , block: block %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "New Creations",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título",
        "default": "últimas creaciones"
      }
    ],
    "blocks": [
      {
        "type": "new_creation",
        "name": "New Creation",
        "settings": [
          {
            "type": "image_picker",
            "id": "new_creation__image",
            "label": "Imagen"
          }, {
            "type": "text",
            "id": "new_creation__title",
            "label": "Título",
            "default": "Nueva creadora"
          }, {
            "type": "text",
            "id": "new_creation__subtitle",
            "label": "Subtítulo",
            "default": "por roxaaanne"
          }, {
            "type": "url",
            "id": "new_creation__link",
            "label": "Enlace"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "New Creations"
      }
    ]
  }
{% endschema %}