<div class="bg-[#133131]">
  <div class="px-2">
    <div class="w-full flex flex-col justify-center items-center">
      <h1 class="text-bejuco uppercase text-[120px] md:text-[426px] leading-[350px] tracking-[-16px] text-[#605031]">bejuco</h1>
      <p class="text-bejuco uppercase text-[89px] leading-[5vh] text-[#605031]">o cuando las piedas sangran</p>
    </div>
    <div class="w-full flex justify-center items-center">
      <p class="w-[89%] text-center text-[30px] font-[200] text-bejuco text-[#646464] mt-16">
        Esta es una experiencia audiovisual en la que recorremos los paisajes andinos y tropicales inmersos en los simbolos místicos de la cultura popular. Así que materializar esta vision necesita juntar muchos esfuerzos</p>
    </div>
  </div>
</div>

<style>

  .text-bejuco {
    font-family: "Iceberg"
    , sans-serif;
    font-weight: 400;
    font-style: normal;
  }

</style>