<div class="container mx-auto px-4">


  <div class="mt-20">
    <div>
      <p class="text-[30px] font-[200]">cada creadora y creador encuentra un espacio donde puede construir su propio portafolio artístico: una vitrina que da vida a su perfil visual y narrativo. aquí pueden presentar su nombre artístico, biografía, la esencia conceptual de su obra y compartir imágenes, videos, música o cualquier interferencia que exprese su identidad visual, su nervio que le molesta hasta el epicentro de su caries. este universo se complementa con una tienda creativa, en la que cada persona puede subir y vender sus productos. todo está pensado para que el arte se muestre, se comparta y también se sostenga. soy un museo digital donde cada creador puede tener su portafolio artístico: una vitrina, un ser que ha nacido varias veces sin crecer, una torre de lanzamiento. podrás encontrar diferentes exposiciones y emociones; también puedes crear la tuya
        <a href="/pages/crear-mi-perfil" class="bg-black text-[20px] rounded-full px-7 py-1 border border-white">crear mi perfil</a>
      </p>
    </div>

    <div>
      <h1 class="weird-font text-[70px] text-right">roxaaanne</h1>
    </div>


  </div>
</div>