<div class="container mx-auto px-8">
  <h1 class="text-5xl font-semibold text-center text-white mb-4">ROXY FEST 2025</h1>
  <img src="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/flyerfinal2025.jpg?v=1760030715" alt="">
  <h2 class="text-2xl font-semibold text-white">graciassss</h2>
  <p class="text-white">muchas gracias por ser parte roxy fest edicion 2025, estos fueron unos de los mejores momentos</p>
  <h2 class="text-3xl font-medium text-white">Peregrino</h2>
  <h2 class="text-3xl font-medium text-white">Alejandro Perdomo</h2>
  <h2 class="text-3xl font-medium text-white">Camila Noches</h2>
  <h2 class="text-3xl font-medium text-white">Alejandro Ospina</h2>
  <h2 class="text-3xl font-medium text-white">Bejuco</h2>
  <h2 class="text-3xl font-medium text-white">Lizeth Sanabria</h2>
  <h2 class="text-3xl font-medium text-white">Ana Maria Vahos</h2>
  <h2 class="text-3xl font-medium text-white">Mauricio Dussán</h2>
  <h2 class="text-3xl font-medium text-white">Los Perros Magneticos</h2>
  <h2 class="text-3xl font-medium text-white">cristian dussán</h2>
</div>